// Title card container
.relative-container {
  @apply relative;
}

// 1.

// Title Card
.title-card {
  @apply rounded-[10px] bg-neutrals-white;
  // @apply bg-neutrals-beige;

  .title-card-image {
    @apply relative;

    figure,
    img {
      @apply m-0 w-full rounded-t-[10px];
    }

    img {
      @apply aspect-[306/190] object-cover object-center bg-cover bg-center;
    }

    .slot-card-image {
      @apply absolute right-[10px] top-[10px];
    }
  }

  .title-card-details {
    @apply flex flex-col justify-between gap-y-[5px] pt-[6px] pb-[13px];

    .title-card-details-main {
      @apply flex flex-row justify-between items-center w-full;

      .title-infos-container {
        @apply flex flex-col gap-y-[2px];

        .title-infos {
          @apply flex flex-col;

          .title {
            @apply text-body-1 font-bold;
          }
          .subtitle {
            @apply flex flex-row gap-x-[10px] items-center;

            & .text {
              @apply text-caption;
            }
          }
        }
      }
    }

    .title-card-details-sub {
      @apply flex flex-col gap-y-[10px];

      .description {
        @apply text-xs;
      }
    }
  }
}
// End Title Card

// Title Card Minimal Default Theme
.title-card.expose-details-on-hover {
  @apply z-10 w-full;
  @apply transition-all duration-150 ease-in-out;

  .title-card-details {
    @apply flex-row;
  }

  .hideable-hidden {
    @apply hidden #{!important};
  }

  .hideable-show {
    display: inherit !important;
  }

  &:hover {
    // @apply sm:absolute z-20 sm:w-[140%] sm:-ml-[20%] sm:-mt-[10%];
    @apply z-20 absolute scale-105 lg:scale-125;
    box-shadow: 0px 0px 8px 0px rgba(12, 11, 11, 0.2);

    .title-card-image img {
      @apply aspect-[412/180];
    }

    .title-card-details {
      @apply flex-col px-[11px];

      .title-card-details-main .title-infos {
        .title {
          @apply text-sub-heading-1 font-medium;
        }

        .subtitle .text {
          @apply text-small-text text-neutral-500;
        }
      }

      .title-card-details-sub .description {
        @apply text-small-text;
      }
    }

    .hideable-hidden {
      display: inherit !important;
    }

    .hideable-show {
      display: none !important;
    }
  }
}
// End Title Card Hover Effect

// Additional card modification for TitleCardAuth
.title-card.auth {
  @apply bg-neutrals-beige;
  box-shadow: 0px 0px 8px 0px rgba(12, 11, 11, 0.2);

  .title-card-image figure img {
    @apply aspect-[326/119];
  }

  .title-card-details {
    @apply px-[11px] pt-[8px] pb-[14px];
  }
}

// Card's statistics item
.statistic-item {
  @apply flex flex-row gap-x-1 items-center text-neutrals-03;

  span {
    @apply text-[8px] leading-[14px];
  }
}

// 2.

.comics-card {
  .comics-card-image img {
    @apply aspect-[256/396];
  }

  .comics-card-info {
    @apply px-[9px] py-[5px];
  }
}

// 3.

.chapter-card {
  .chapter-card-image img {
    @apply aspect-[292.778/453.519];
  }

  .chapter-card-info {
    @apply px-[9px] py-[5px];

    & .text-sub-heading-1 {
      @apply text-[16.074px] leading-[22.963px] font-semibold text-neutrals-05;
    }

    & .text-small-text {
      @apply text-[13.778px] leading-[18.37px] text-neutrals-05;
    }

    & .statistics {
      @apply mt-3 gap-x-4;

      .texts {
        @apply text-[11.481px] leading-[16.074px] dark:text-neutrals-05;
      }
    }
  }
}

.chapter-card-inline {
  @apply p-6 row-start rounded-t-[5px] bg-white;

  .image-container {
    @apply relative;

    .opac {
      @apply absolute inset-0;
      background: lightgrey;
      opacity: 0.5;
    }

    figure img {
      @apply aspect-[283/167] min-w-[283px] rounded-t-[5px];
    }
  }

  .text-container {
    @apply ml-[25px] text-neutrals-black;
  }

  .statistics-container {
    @apply column-start gap-y-3 min-w-fit ml-[61px];

    .stat-item {
      @apply row-middle gap-x-2;

      .icon {
        @apply text-neutrals-03;
      }

      .text-body-2 {
        @apply text-neutrals-black;
      }
    }
  }
}
