// Title card container
.relative-container {
  @apply relative;
}

// 1.

// Title Card
.title-card {
  @apply rounded-[10px];
  // @apply bg-beige;

  .title-card-image {
    @apply relative;

    figure,
    img {
      @apply m-0 w-full rounded-t-[10px];
    }

    img {
      @apply aspect-[306/190] object-cover object-center bg-cover bg-center;
    }

    .slot-card-image {
      @apply absolute right-[10px] top-[10px];
    }
  }

  .title-card-details {
    @apply flex flex-col justify-between gap-y-[5px] pt-[6px] pb-[13px];

    .title-card-details-main {
      @apply flex flex-row justify-between items-center w-full;

      .title-infos-container {
        @apply flex flex-col gap-y-[2px];

        .title-infos {
          @apply flex flex-col;

          .title {
            @apply text-body-1;
          }

          .subtitle {
            @apply flex flex-row gap-x-[10px] items-center;

            & .text {
              @apply text-caption;
            }
          }
        }

        .statistics {
          @apply gap-x-5;
        }
      }

      .slot-card-body {
        .stat-likes {
          @apply flex items-center gap-x-1;
        }
      }
    }

    .title-card-details-sub {
      @apply flex flex-col gap-y-[10px];

      .description {
        @apply text-xs;
      }

      .genres-list {
        @apply gap-x-[11px];
      }
    }
  }
}
// End Title Card

// Title Card Minimal Default Theme
.title-card.expose-details-on-hover {
  @apply z-10 w-full bg-transparent;
  @apply transition-all duration-150 ease-in-out;

  @media (max-width: '640px') {
    box-shadow: 0px 0px 8px 0px rgba(12, 11, 11, 0.2);

    .title {
      font-size: 24px !important;
      line-height: 32px !important;
    }
  }

  .title-card-details {
    @apply flex-col px-[11px] sm:px-0 sm:flex-row;
  }

  .hideable-hidden {
    @screen sm {
      @apply hidden #{!important};
    }
  }

  .hideable-show {
    display: inherit !important;
  }

  @screen sm {
    &:hover {
      // @apply sm:fixed z-20 sm:w-[140%] sm:-ml-[20%] sm:-mt-[10%] bg-white;
      @apply z-20 absolute scale-105 lg:scale-125 bg-beige;
      box-shadow: 0px 0px 8px 0px rgba(12, 11, 11, 0.2);

      .title-card-image img {
        @apply aspect-[412/180];
      }

      .title-card-details {
        @apply flex-col px-[11px];

        .title-card-details-main .title-infos {
          .title {
            @apply text-sub-heading-1;
          }

          .subtitle .text {
            @apply text-small-text text-neutral-500;
          }
        }

        .title-card-details-sub .description {
          // @apply text-small-text;
        }
      }

      .hideable-hidden {
        display: inherit !important;
      }

      .hideable-show {
        display: none !important;
      }
    }
  }
}
// End Title Card Hover Effect

// Additional card modification for TitleCardAuth
.title-card.auth {
  @apply bg-beige;
  box-shadow: 0px 0px 8px 0px rgba(12, 11, 11, 0.2);

  .title-card-image figure img {
    @apply aspect-[326/119];
  }

  .title-card-details {
    @apply px-[11px] pt-[8px] pb-[14px];
  }
}

// Card's statistics item
.statistic-item {
  @apply text-neutral-03;
}

// 2.

.comics-card {
  .comics-card-image img {
    @apply aspect-[256/350] sm:aspect-[256/396];
  }

  .comics-card-info {
    @apply px-[9px] py-[5px];
  }
}

// 3.

.chapter-card {
  .chapter-card-image img {
    @apply aspect-[256/350] sm:aspect-[292.778/453.519];
  }

  .chapter-card-info {
    @apply px-[9px] py-[5px] mt-[9px];

    & .info-title {
      @apply text-[16.074px] leading-[22.963px] font-semibold text-neutral-05;
    }

    & .info-subtitle {
      @apply text-[13.778px] leading-[18.37px] text-neutral-05;
    }

    & .statistics {
      @apply mt-3 gap-x-4;

      .stat-item {
        .icon {
          @apply dark:text-neutral-white;
        }

        span {
          @apply dark:text-neutral-05;
        }
      }
    }
  }
}

.chapter-card-inline {
  @apply p-6 row-start rounded-[5px] bg-white;

  .image-container {
    @apply relative;

    .opac {
      @apply absolute inset-0;
      background: lightgrey;
      opacity: 0.5;
    }

    figure img {
      @apply aspect-[283/167] min-w-[283px] rounded-t-[5px];
    }
  }

  .text-container {
    @apply ml-[25px] text-neutral-black;
  }

  .statistics-container {
    @apply column-start gap-y-3 min-w-fit ml-[61px];

    .stat-item {
      .icon {
        @apply text-neutral-03;
      }

      span {
        @apply text-neutral-black;
      }
    }
  }
}

.total-quantity-card {
  @apply flex items-center justify-between py-[11px] pl-[26px] pr-[13px] rounded-[10px] bg-white border border-neutral-04 w-full;

  .contents {
    @apply flex flex-col gap-y-0.5;
  }

  .cta {
    @apply text-neutral-02;
  }
}

.analytics-card-simple {
  @apply pt-[14px] pl-[14px] pr-[17px] pb-[30px] sm:pb-[16px] bg-neutral-white rounded-[10px] w-full;

  &.demographic {
    .card-contents {
      @apply mt-[26px];
    }
  }

  &.top-comics {
    .contents {
      @apply grid grid-cols-1 sm:grid-cols-2 xl:gap-x-[62px] gap-y-4 sm:gap-y-[41px] mt-[26px];
    }

    .no-content-base {
      @apply mt-[26px] mb-[28px];
    }
  }

  &.my-comics {
    @apply pb-[23px];

    .card-contents {
      @apply block mt-[18px];

      .title-list {
        @apply mt-[18px];
      }
    }

    .no-content-base {
      @apply mt-[70px] mb-[107px];
    }
  }

  &.finish-setup {
    @apply pt-[14px] px-[14px] pb-[30px] rounded-[10px] bg-yellow-03 border border-yellow;

    .card-header {
      @apply text-[12px] leading-[20px] uppercase text-neutral-01 font-medium;
    }

    .progress-bars {
      @apply mt-6 mb-[30px];
    }

    .setup-items {
      @apply flex flex-col gap-y-[18px];
    }
  }

  .card-header-wrap {
    @apply flex flex-row items-center justify-between;

    .card-header {
      @apply text-[12px] leading-[20px] uppercase text-neutral-02 font-medium;
    }

    .cta {
      @apply text-neutral-02;
    }
  }

  .card-contents {
    @apply flex justify-center items-center;
  }
}

.comics-card-simple {
  @apply flex flex-row items-center gap-x-3;

  .icon {
    @apply bg-orange h-10 w-10 rounded-full min-w-max;
  }

  & .card-contents {
    @apply flex flex-col gap-y-0.5 justify-start items-start;

    .text-small-text {
      @apply text-neutral-02;
    }

    & > .text-body-1 {
      @apply text-neutral-01;
    }
  }
}

#author-card {
  @apply w-fit max-w-[448px];
  @apply rounded-[10px] bg-neutral-white;
  box-shadow: 0px 0px 8px 0px rgba(12, 11, 11, 0.2);

  .container {
    @apply flex flex-col justify-center items-center py-[67px] px-4 sm:px-[49px];

    .card-image figure img {
      @apply bg-cover bg-center rounded-[375px] w-[179px] h-[176px];
    }

    .name {
      @apply mt-9;
    }

    .addresses,
    .description {
      @apply mt-3;
    }

    .addresses {
      .address {
        @apply flex items-center gap-x-[5px];

        .icon {
          @apply text-black;
        }

        .address-text {
          @apply text-neutral-02 text-caption;
        }
      }

      .website {
        @apply flex items-center gap-x-[5px];

        .icon {
          @apply text-black;
        }

        & > .text-link-underline {
          @apply text-yellow;
        }
      }
    }

    .statistics {
      @apply flex flex-row gap-y-4 gap-x-4 sm:gap-x-[48px] items-center justify-between bg-white py-[17px] px-[31px] mt-[31px] w-full sm:w-fit;
      box-shadow: 0px 0px 4px 0px rgba(12, 11, 11, 0.2);

      .item {
        @apply flex flex-col items-center;

        .icon {
          @apply text-neutral-03;
        }

        .stat-header {
          @apply text-sub-heading-1 text-orange;
        }

        .stat-text {
          @apply whitespace-nowrap text-caption;
        }
      }
    }

    .cta {
      @apply flex flex-row gap-x-6 mt-8;
    }
  }
}

.auth-form {
  @apply bg-beige w-full h-screen sm:h-fit p-5 sm:pt-[43px] sm:px-[89px] sm:pb-[49px] sm:rounded-[10px];
  box-shadow: 0px 0px 14px 2px rgba(12, 11, 11, 0.16);

  .heading {
    @apply relative row-middle;

    .close-btn {
      @apply absolute right-0 sm:-right-10;
    }
  }

  .form-wrap {
    @apply mt-[47px] column-start gap-y-10;
  }

  .submit-button {
    @apply flex justify-end mt-[37px];
  }

  .divider {
    @apply bg-neutral-03 mt-[38px] mb-[30px];
  }

  .other-auth-options {
    @apply row-middle mt-5 gap-x-[50px];
  }

  .portal-switcher {
    @apply row-middle mt-5;

    .text-body-2.underline {
      @apply ml-1;
    }
  }
}
