// App Dropdown
.dropdown-container {
  @apply relative;
}

.v-popper.v-popper--theme-dropdown.dropdown {
  @apply w-full;
}

.v-popper__popper.v-popper--theme-dropdown {
  .v-popper__inner {
    all: unset;
  }
}

.v-popper__arrow-container {
  @apply hidden;
}

.v-popper.v-popper--theme-dropdown.dropdown .select-button {
  box-shadow: 0px 0px 4px 0px rgba(12, 11, 11, 0.2);
  @apply py-2 px-2.5 flex flex-row justify-between items-center rounded-[5px];

  &.primary {
    @apply bg-neutrals-beige text-neutrals-black min-w-[166px] text-body-2;
  }
}

.dropdown-popper {
  @apply flex flex-col gap-y-[17px] rounded p-[14px] max-h-[590px] overflow-y-auto;
  background: var(--neutrals-beige, #fffcf3);
  box-shadow: 0px 0px 14px 2px rgba(12, 11, 11, 0.16);

  .dropdown-item {
    @apply row-middle gap-x-[13px] text-[16px];
  }

  .divider {
    @apply w-full h-[1px] bg-neutrals-04;
  }
}
