// App DropDown
.dropdown-container {
  @apply relative;
}

.v-popper.v-popper--theme-dropdown.dropdown {
  @apply w-full;
}

.v-popper__popper.v-popper--theme-dropdown {
  .v-popper__inner {
    all: unset;
  }
}

.v-popper__arrow-container {
  @apply hidden;
}

.v-popper.v-popper--theme-dropdown.dropdown .select-button {
  box-shadow: 0px 0px 4px 0px rgba(12, 11, 11, 0.2);
  @apply py-2 px-2.5 flex flex-row justify-between items-center rounded-[5px];

  &.primary {
    @apply bg-beige text-neutral-black min-w-[166px] text-body-2;
  }
}

[data-popper-placement='bottom-start'].v-popper__popper.v-popper--theme-dropdown {
  .dropdown-popper {
    border-radius: 0px 10px 10px 10px;
  }
}

[data-popper-placement='bottom-end'].v-popper__popper.v-popper--theme-dropdown {
  .dropdown-popper {
    border-radius: 10px 0px 10px 10px;
  }
}

[data-popper-placement='top-end'].v-popper__popper.v-popper--theme-dropdown {
  .dropdown-popper {
    border-radius: 10px 10px 0px 10px;
  }
}

[data-popper-placement='top-start'].v-popper__popper.v-popper--theme-dropdown {
  .dropdown-popper {
    border-radius: 10px 10px 10px 0px;
  }
}

.dropdown-popper {
  @apply flex flex-col gap-y-[17px] py-4 px-5 max-h-[590px] overflow-y-auto bg-beige;
  box-shadow: 0px 0px 14px 2px rgba(12, 11, 11, 0.16);

  &.type-1 .dropdown-item {
    @apply text-black;

    .icon {
      @apply text-neutral-02;
    }
  }

  &.type-2 .dropdown-item {
    @apply text-black;

    .icon {
      @apply text-neutral-03;
    }
  }

  .dropdown-item {
    @apply row-middle gap-x-[13px] text-[16px] cursor-pointer;

    &.disabled {
      @apply cursor-auto;
    }
  }

  .divider {
    @apply w-full h-[1px] bg-neutral-04;
  }
}
