// App Dropdown
.dropdown-container {
  @apply relative;
}

.v-popper.v-popper--theme-dropdown.dropdown {
  @apply w-full;
}

.v-popper__popper.v-popper--theme-dropdown {
  .v-popper__inner {
    all: unset;
  }
}

.v-popper__arrow-container {
  @apply hidden;
}

.dropdown-popper {
  border-radius: 4px;
  background: var(--neutrals-beige, #fffcf3);
  box-shadow: 0px 0px 14px 2px rgba(12, 11, 11, 0.16);

  &.w--180 {
    @apply min-w-[180px];
  }

  &.size--title-auth {
    @apply space-y-[14px] py-[19px] px-[14px];

    .dropdown-item {
      @apply flex flex-row items-center justify-start gap-x-[13px] text-[14px];
    }
  }
}
