@layer components {
  .default-text-state {
    white-space: inherit;
    overflow: visible;
    text-overflow: inherit;

    @supports (-webkit-line-clamp: 3) {
      overflow: inherit;
      text-overflow: inherit;
      white-space: inherit;
      display: block;
      -webkit-line-clamp: inherit;
      -webkit-box-orient: inherit;
    }
  }

  .collapsed-text-state {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @supports (-webkit-line-clamp: 3) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}

.ellipsable {
  input[type='checkbox'] {
    @apply hidden;

    &:checked ~ .text {
      @apply default-text-state;
    }
    &:checked ~ label {
      @apply hidden;
    }
  }

  .text {
    @apply collapsed-text-state;
  }

  label {
    display: inline;
    &.primary {
      @apply text-[16px] leading-[22px] text-yellow-yellow underline;
    }
  }

  &.disabled {
    .text {
      @apply default-text-state;
    }

    label {
      display: none;
    }
  }
}
