.ellipsable {
  input[type='checkbox'] {
    @apply hidden;

    &:checked ~ .text {
      white-space: inherit;
      overflow: visible;
      text-overflow: inherit;

      @supports (-webkit-line-clamp: 3) {
        overflow: inherit;
        text-overflow: inherit;
        white-space: inherit;
        display: block;
        -webkit-line-clamp: inherit;
        -webkit-box-orient: inherit;
      }
    }
    &:checked ~ label {
      @apply hidden;
    }
  }

  .text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @supports (-webkit-line-clamp: 3) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  label {
    display: inline;
    &.primary {
      @apply text-[16px] leading-[22px] text-[#FFC94B] underline;
    }
  }
}
