.modal-backdrop {
  @apply fixed inset-0 z-50;

  .modal-opac {
    @apply absolute inset-0;

    opacity: 0.9;
    background: var(--Black, #000);
    mix-blend-mode: multiply;
  }

  .modal {
    @apply absolute top-[50%] left-[50%] w-full sm:w-fit;
    transform: translate(-50%, -50%);

    .dialog {
      @apply relative overflow-visible;
    }
  }
}
