.reading-pannel {
  @apply relative h-[calc(100vh-60px)] overflow-hidden;

  .visuals-section {
    @apply row-middle justify-center overflow-y-auto;

    .page-layout-image-container {
      @apply row-middle gap-x-0 pt-4 h-[84vh];

      .image-component {
        @apply h-full;
      }
    }

    .infinite-scroll-layout-image-container {
      @apply column-middle gap-y-0 pt-4 pb-10 justify-between items-center overflow-y-auto h-[92vh];

      .image-component {
        @apply w-[51%];
      }
    }
  }

  .bg-music-toggle {
    @apply absolute top-[32px] left-[40px];
  }

  .reading-mode-toggle {
    @apply row-middle absolute right-10 top-[33px] gap-x-0;
  }

  .nav-button {
    @apply absolute top-[calc(50%-27px)];

    $side-distance: 29px;

    &.left {
      @apply left-[#{$side-distance}];
    }

    &.right {
      @apply right-[#{$side-distance}];
    }
  }

  .controls-section {
    @apply absolute bottom-0 flex justify-center w-full;

    .inner {
      @apply px-[64px] py-[10px] bg-neutral-black row-middle gap-x-[122px] justify-between;
      border-radius: 10px 10px 0px 0px;
      box-shadow: 0px 0px 8px 0px rgba(12, 11, 11, 0.2);

      .controls-group {
        @apply row-middle gap-x-[52px];
      }
    }
  }
}

.aside-panel {
  @apply relative bg-beige h-[calc(100vh-60px)];
  box-shadow: -3px 3px 4px 0px rgba(0, 0, 0, 0.25);
}
